[tool.poetry]
name = "aiosteampy"
version = "0.5.4"
description = "Trade and interact with steam market, webapi, guard"
license = "MIT"
authors = ["Dmytro Tkachenko <itsme@somespecial.one>"]
readme = "README.md"
homepage = "https://aiosteampy.somespecial.one"
repository = "https://github.com/somespecialone/aiosteampy"
documentation = "https://aiosteampy.somespecial.one"
keywords = ["steam", "trade", "steamguard", "asyncio", "steam-market"]
classifiers = [
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Typing :: Typed",
]

include = ["LICENSE"]
packages = [{ include = "aiosteampy" }]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/somespecialone/aiosteampy/issues"

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "^3.9.1"
rsa = "^4.9"
croniter = { version = "^2.0.1", optional = true }
aiohttp-socks = { version = "^0.8.4", optional = true }

[tool.poetry.extras]
converter = ["croniter"]
socks = ["aiohttp-socks"]
all = ["croniter", "aiohttp-socks"]

[tool.poetry.group.dev.dependencies]
black = "^23.12.1"

[tool.poetry.group.test]
optional = true
[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-asyncio = "^0.20.1"
pytest-cov = "^4.0.0"
python-dotenv = "^1.0.0"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
mkdocs = "^1.5.3"
mkdocs-material = "^9.4.7"
mkdocs-git-revision-date-localized-plugin = "^1.2.1"
mkdocs-include-markdown-plugin = "^6.0.3"

[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_mode = "auto"
markers = ["incremental"]

[tool.coverage.run]
source = ["aiosteampy"]
omit = ["*/__init__.py"]

[tool.black]
line-length = 120

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
