[tool.poetry]
name = "aiosteampy"
version = "0.2.4"
description = "Simple library to trade and interact with steam market, webapi, guard"
license = "MIT"
authors = ["Dmytro Tkachenko <tkachenkodmitriy@yahoo.com>"]
readme = "README.md"
homepage = "https://github.com/somespecialone/aiosteampy/"
repository = "https://github.com/somespecialone/aiosteampy/"
documentation = "https://somespecialone.github.io/aiosteampy"
keywords = ["steam", "trade", "steamguard", "asyncio", "steam-market"]
classifiers = [
    "Framework :: AsyncIO",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries",
    "Topic :: Software Development :: Libraries :: Python Modules",
    "Operating System :: OS Independent",
    "Typing :: Typed"
]

include = ["LICENSE"]
packages = [{ include = "aiosteampy" }]

[tool.poetry.dependencies]
python = "^3.10"
aiohttp = "^3.8.3"
beautifulsoup4 = "^4.10.0"
rsa = "^4.9"

[tool.poetry.group.dev.dependencies]
aiodns = "^3.0.0"

[tool.poetry.group.test]
optional = true

[tool.poetry.group.test.dependencies]
pytest = "^7.2.0"
pytest-asyncio = "^0.20.1"
pytest-cov = "^4.0.0"

[tool.poetry.group.docs]
optional = true

[tool.poetry.group.docs.dependencies]
mkdocs = "^1.4.2"
mkdocs-material = "^8.5.8"
mkdocs-git-revision-date-localized-plugin = "^1.1.0"
mkautodoc = "^0.2.0"
mkdocs-include-markdown-plugin = "^3.9.1"

[tool.pytest.ini_options]
testpaths = ["tests"]
asyncio_mode = 'auto'
markers = ["incremental"]

[tool.coverage.run]
source = ["aiosteampy"]
omit = ["*/__init__.py"]

[tool.black]
line-length = 120

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
