name: Tests

on:
  push:
    branches: [ master ]
    paths:
      - "asyncsteampy/**"
      - "pyproject.toml"
      - "tests/**"

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10" ]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
      - run: poetry install

      - name: "Run PyTest with coverage"
        run: poetry run pytest --cov --cov-report=xml

      - name: "Upload coverage report to Codecov"
        uses: codecov/codecov-action@v2
        with:
          fail_ci_if_error: true

        timeout-minutes: 30
